.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    box-shadow: 0 2px 10px rgba(193, 26, 193, 0.7);
}

.title {
    font-size: 25px;
    font-weight: bold;
    color: #4B164C;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.toggleNavbar {
    background-color: transparent;
    border: none;
    color: #4B164C;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    display: none;
}

.container ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(20px);
}

.container ul li {
    margin-right: 25px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.container ul li:hover {
    transform: scale(1.1);
}

.container ul li a {
    text-decoration: none;
    color: #4B164C;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    font-weight: bold;
}

.container ul li a:hover {
    color: #DD88CF;
}

.container ul li.active a {
    color: #DD88CF;
}

.spacer {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }

    .toggleNavbar {
        display: flex;
        justify-content: center;
    }
    
    .toggleNavbar:hover {
        color: #DD88CF;
    }

    .toggleNavbar.active {
        color: #DD88CF;
    }

    .container ul {
        right: 5px;
        position: absolute;
        top: 12%;
        width: 100px;
        flex-direction: column;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(193, 26, 193, 0.7);
        display: none;
    }

    .container ul li {
        margin: 10px 0;
    }

    .container ul li a {
        font-size: 16px;
    }

    .container ul.active {
        display: flex;
    }
}